{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/style.css'%}">
    <title>Gestão de Bolsas</title>
</head>
<body>
    <!--sidebar começo-->  
    <header>
       <nav>
            <h2 class="logo">Assitencia Estudantil</h2>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="sidebar">
                <div>
                    <li><a href="{% url 'index'%}"><ion-icon name="desktop-outline"></ion-icon><span>Início</span></a></li>
                    <li><a href=" {% url 'inscricoes'%}"><ion-icon name="newspaper-outline"></ion-icon><span>Formulário</span></a></li>
                    <li><a href="{% static 'resultado'%}"><ion-icon name="document-text-outline"></ion-icon><span>Editais</span></a></li>
                    <li><a href="{% url 'questSo'%}"><ion-icon name="document-attach-outline"></ion-icon><span>Inscrições</span></a></li>
                    <li><a href="{% static '#'%}"><ion-icon name="calendar-outline"></ion-icon><span>Agenda</span></a></li>
                    <li><a href="{% static '#'%}"><ion-icon name="settings-outline"></ion-icon><span>Configurações</span></a></li>
                    <li><a href="{% url 'home'%}"><ion-icon name="log-out-outline"></ion-icon><span>Sair</span></a></li>
                </div>              
            </ul>
         </nav> 
    </header>
     <!--sidebar termino-->
     <main>
        <div class="text">
            <div>
                <h1>Assitencia Estudantil</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic maiores libero voluptates quas aspernatur quae,
                 culpa cum iste nostrum nihil quisquam neque ullam dolorum magni animi ab numquam voluptate ipsam?</p>
            </div>
            <div>
                <h1>Ações de Acompanhamento ao Estudante</h1>
                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates mollitia reiciendis, quod iure quia sit blanditiis ab. 
                Sapiente, ratione doloribus voluptas dolorem consequuntur incidunt, illo veritatis repellendus nam earum iusto?</p>
            </div>
            <div>
                  <h1>Política de Assistência Estudantil (POLAE)</h1>
            <p>
                Regulamentada a partir da Resolução 14/2014, do Conselho Superior do IFPI, e alterada pelas Resoluções 31/2014, 27/2016 e 35/2021, a Política de Assistência Estudantil (POLAE) é o documento que orienta todas ações referente a Assistência Estudantil (AE), 
                com foco na garantia do acesso, da permanência e do êxito acadêmico.<br><br>
                Acesse a <a href="#">POLAE</a>  e a <a href="#">cartilha da Política.</a> 
            </p>
            </div>
            <div>
                  <h1>Programas</h1>
            <p>As ações da Política de Assistência Estudantil são realizadas por meio do Programas Universais, que prevêem atendimento universal a todos os estudantes; e do Programa  de  Atendimento aos Estudantes em Vulnerabilidade Social.<br><br>

                Os Programas Universais são voltados aos estudantes do IFPI e tem como objetivo contribuir com ações de atendimento às necessidades básicas e de incentivo à formação acadêmica, visando o desenvolvimento integral dos mesmos no processo educacional.<br><br>
                
                O Programa de Atendimento ao Estudante em Vulnerabilidade Social é aquele direcionado ao estudante que se encontra em situação de vulnerabilidade social. Este Programa surge frente à "necessidade de viabilizar a igualdade de oportunidades, 
                contribuir para melhoria do desempenho acadêmico e agir, preventivamente, 
                nas situações de retenção e evasão decorrentes da insuficiência de condições financeiras 
                (Parágrafo Único do Art. 4, Decreto 7.234, de 19 de julho de 2010) e agravantes sociais.<br><br>
                
                Confira as <a href="#">ações da POLAE.</a> </p>
            </div>
            <div></div>
            
           
          
          
        </div>
     </main>
     <script src="{% static 'js/javascript.js'%}"></script>
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>