<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Gestão de Bolsas</title>
</head>
<body>
    <!--sidebar começo-->  
    <header>
       <nav>
            <h2 class="logo">Assitencia Estudantil</h2>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="sidebar">
                <div>
                    <li><a href="../pages/home.html"><ion-icon name="desktop-outline"></ion-icon><span>Início</span></a></li>
                    <li><a href="../pages/teste.html"><ion-icon name="newspaper-outline"></ion-icon><span>Formulário</span></a></li>
                    <li><a href="#"><ion-icon name="document-text-outline"></ion-icon><span>Editais</span></a></li>
                    <li><a href="../pages/inscricoes.html"><ion-icon name="document-attach-outline"></ion-icon><span>Inscrições</span></a></li>
                    <li><a href="#"><ion-icon name="calendar-outline"></ion-icon><span>Agenda</span></a></li>
                    <li><a href="#"><ion-icon name="settings-outline"></ion-icon><span>Configurações</span></a></li>
                    <li><a href="../index.html"><ion-icon name="log-out-outline"></ion-icon><span>Sair</span></a></li>
                </div>              
            </ul>
         </nav> 
    </header>
     <!--sidebar termino-->
     <main>
        <div class="text">
            <ul>
                <li><a href="./teste_inscrição.html"><ion-icon name="document-attach-outline"></ion-icon><span>POLAE</span></a></li>
                <li><a href="#"><ion-icon name="calendar-outline"></ion-icon><span>PIBIC</span></a></li>
                <li><a href="#"><ion-icon name="settings-outline"></ion-icon><span>Monitoria</span></a></li>
            </ul>
        </div>
     </main>
     <script src="../javascript/javascript.js"></script>
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>